.container {
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: flex-start; 
  min-height: 100vh;      
  padding-top: 50px;     
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: column;   
  align-items: center;  
  margin-bottom: 30px;   
}

input {
  padding: 8px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.error {
  color: rgb(173, 74, 74);
  font-weight: bold;
  text-align: center;
  margin: 5px 0;
}

child {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
